ENTORNO=desarrollo
PUERTO_API=3000
URL_BASE_DE_DATOS=postgresql://chatbot:chatbot@localhost:5432/chatbot
CADENA_CONEXION_AZURE_SERVICE_BUS=Endpoint=sb://local/;SharedAccessKeyName=dev;SharedAccessKey=dev
CADENA_CONEXION_AZURE_BLOB=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://localhost:4577/devstoreaccount1;
TOKEN_ACCESO_META=
IDENTIFICADOR_NUMERO_TELEFONO_META=
SECRETO_WEBHOOK_META=
